@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mali&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

nav {
  background-color: #22223b;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

.nav-logo {
  margin-left: 0px;
  font-size: 25px;
}
.nav-logo a {
  text-decoration: none;
  color: #fffafa;
}

.nav-logo h1,
.details span {
  font-family: "Dancing Script", cursive;
  color: goldenrod;
}

ul li a {
  text-decoration: none;
  color: #fffafa;
  margin: 15px;
  font-size: 20px;
}

ul li a:hover,
ul li:hover {
  text-decoration: underline;
  scale: 1.07;
}

.container {
  background: #22223b;
  color: #fff;
}

.about,
.education,
.projects,
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-container,
.education-container,
.project-container,
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 10px;
}

.about-photo img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.details {
  margin: 20px;
  font-size: 18px;
  text-align: justify;
}

.college h1,
.senior h1 {
  font-size: 20px;
  color: goldenrod;
}

.college,
.senior {
  margin: 20px;
  width: 40%;
}

.titles {
  padding-top: 50px;
  margin-left: 50px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
}

.project-container {
  flex-direction: row;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projectBox {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.projects img {
  width: 70%;
  border-radius: 15px;
  object-fit: cover;
}

.contact-container {
  justify-content: space-between;
  height: 200px;
}

.socials a {
  text-decoration: none;
  color: goldenrod;
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
}

.contact-me p {
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  .about-container {
    flex-direction: column;
    width: 70%;
  }
  .project-container {
    display: flex;
    flex-direction: column;
  }
  .projectBox {
    flex-direction: column;
  }
  .projects img {
    width: 100%;
  }
}
